/*
Theme Name: Story Child
Theme URI: http://pexetothemes.com/docs/changelog/story/changelog.txt
Template: thestory
Author: William Bay
Author URI: https://flauntyoursite.com
Description: A Child theme to extend the Story theme.
Tags: light,white,one-column,two-columns,right-sidebar,fluid-layout,custom-background,custom-header,custom-menu,editor-style,featured-images,flexible-header,full-width-template,microformats,post-formats,rtl-language-support,sticky-post,theme-options,translation-ready
Version: 1.9.14.1645407453
Updated: 2022-02-20 17:37:33

*/



.member{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 3%;
    row-gap: 2em;
    column-gap: 1em;
}

h1{
    grid-column: 1 / 3;
    border-bottom:1px solid #044F8D;
    padding-bottom: 0;
}

.member-bio-headshot{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}
.member-bio-headshot img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-bio{
    grid-column: 1 / 3;  
}

@media screen and (min-width: 1024px) {
    .member{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }

    h1{
        grid-column: 1 / 4;
        border-bottom:1px solid #044F8D;
    }
    .member-bio{
        grid-column: 3 / 4;  
    }
    
}